# /etc/systemd/system/composefs-finalize.service
[Unit]
Description=Composefs finalize
DefaultDependencies=no
Before=final.target

[Service]
Type=oneshot
ExecStart=/usr/bin/composefs-finalize.sh
RemainAfterExit=yes

[Install]
WantedBy=final.target


before booting, there should be no default_t label
